html {
    font:10px;
    box-sizing: border-box;
}

body {
margin: 0;
padding: 0;
min-height:100%;
height:100vh;
    background-color: lightcoral;
    }

.container {
    display: flex;
    /* justify-content: start; */
    justify-content: space-between;
    width:fit-content;
    height: 100%;
    margin: 0;
   
}

/* TODO: Give navbar a fixed and max width */
/* TODO: Give main content margin left = to navbar width + 10 */
#navbar {
    position: fixed;
    left:0;
    display: flex;
    flex-direction: column;
    background-color: khaki;
    width:350px;
    height: 100%;
    border-right: 4px solid slateblue;
}
#navbar > * {
 list-style: none;
 margin: 0;


}
 header {
     font-size: larger;
     font-weight: 600;
 }
 header > h1 {
     padding:1rem;
 }
a {
    text-decoration: none;
}
/* Make this an ID selector if necessary */
 #nav-ul {
     display: flex;
     flex-direction: column;
     justify-content:start;
    padding: 0;
    margin: 0;
    border-top: 2px solid slateblue;
}
/* These borders are doubling up on one another */
/* use specific ids and borders for first and last li elements? */
#nav-ul > li {
    width: 100%;
    border-top: 2px solid slateblue;
    border-bottom: 2px solid slateblue;
    padding:1rem .5rem;
    font-size:x-large;
}
#nav-ul > li:last-child {
    border-bottom: none;
}
#main-doc {
    display: flex;
    flex-direction: column;
    margin-left:calc(350px);
    padding-right: 2rem;
    height:100%;
    padding-top: 1rem;
    padding-left: 1rem;
}
 code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    width: fit-content;
 }

*, *:before, *:after {
  box-sizing: inherit;
}

@media (max-width:576px) {
    body {
        background-color: darkred;
        
    }
    #navbar {
        background-color: darkseagreen;
        width: 150px!important;
    }
    #navbar > header > h1 {
        font-size: medium;
    }
    #nav-ul > li {
    font-size:large;
    }

    #main-doc {
        margin-left:150px;
    }
}